<h1>Welcome to faqapp!</h1>
<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="showAdd()">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="showEdit()">Edit user</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="showList()">List Users</a>
      </li>
      <li class="nav-item" >
        <a href="#" class="nav-link" (click)="showView()">View User</a>
      </li>
    </ul>
  </nav>
<div class="container">
  <div class="add" [hidden]="addHidden">
    <div class="card">
      <div class="card-header">Add User</div>
      <div class="card-body">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <div class="form-group">
            <label >Username </label><span *ngIf="nameIt.errors?.required && nameIt.touched" style="color:red;">Name is required</span>
            <span *ngIf="nameIt.errors?.minlength && nameIt.touched" style="color:red;">Minimum length should be 3</span>
            <input type="text" class="form-control" [(ngModel)]="name" name="name" #nameIt="ngModel" minlength="3" required>
          </div>
          <div class="form-group">
            <label >UserType </label><span *ngIf="typeIt.errors?.required && typeIt.touched" style="color:red;">Type is required</span>
            <span *ngIf="typeIt.errors?.minlength && typeIt.touched" style="color:red;">Minimum length should be 3</span>
            <input type="text" class="form-control" [(ngModel)]="type" name="type" #typeIt="ngModel" minlength="3" required>
          </div>
          <input type="submit" value="Submit" class="btn btn-success">
        </form>
      </div>
    </div>
  </div>
  <div class="edit" [hidden]="editHidden">
    <div class="card">
      <div class="card-header">Edit User</div>
      <div class="card-body">All form details here</div>
    </div>
  </div>
  <div class="list" [hidden]="listHidden">
    <div class="card">
      <div class="card-header">List Users</div>
      <div class="card-body">
          <table class="table table-striped">
              
              <tbody>
                <tr>
                  <td>Username</td>
                  <td *ngFor="let users of usernames">{{users}}</td>
                </tr>
                <tr>
                  <td>UserType</td>
                  <td *ngFor="let types of usertypes">{{types}}</td>
                </tr>
                
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <div class="view" [hidden]="viewHidden">
    <div class="card">
      <div class="card-header">View User</div>
      <div class="card-body">All form details here</div>
    </div>
  </div>

</div>
